/*font Montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* Asterisk wildcard selectort override default styles added by browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5F5F5;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#sua-logo {
    width: 200px;
    margin: 30px;

}

.a-container{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.pages-btns {
    box-shadow: 3px 4px 0px 0px #805f07;
    background: linear-gradient(to bottom, #d7c181 10%, #DECD9C 90%);
    background-color: #DECD9C;
    border-radius: 5px;
    border: 1px solid #856b26;
    cursor: pointer;
    color: #06191D;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    padding: 3px 15px;
    text-decoration: none;
    text-align: center;
    margin: 15px auto 0;
    
}

.pages-btns:hover {
    transform: scale(1.15); /* Increase the size by 5% */
    background:#b3943a;
}


.quote{
    color:#16161D;
    margin: 15px 30px;
    font-weight: 500;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 80%;
}

.info{
    color: #2c3531;
    text-align: center;
    font-weight:bold;
    margin: 0 30px;
    font-size: 110%;
    font-family: "Montserrat", sans-serif;
}

#derechos{
    color:#06191D;
    text-align: center;
    margin: 0px;
    font-size: x-small;
    font-family: "Montserrat", sans-serif;


}

#social-networks{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    font-size: 150%; 
}

.fa-brands{
    color:#16161D;
    padding: 20px;
}

.fa-brands:hover {
    transform: scale(1.15); /* Increase the size by 5% */
}

.fa-whatsapp{
    position:fixed;
    width: 75px;
    height: 30px;
    line-height: 55px;
    bottom: 30px;
    right:30px;
    padding-bottom: 60px;
    background-color: #0df053;
    color:#fff;
    border-radius: 50px;
    text-align: center;
    font-size: 40px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index:  100;
}

/* Navbar */

#logo-sua{
    width: 150px;
    margin: 5px;
}


.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
}


.navbar {
    margin-bottom: 0;
    width: 100vw; /* Change width to viewport width */
    background-color:#2c3531;
    border: 0;
    padding: 10px 0; /* Adjust padding as needed */
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

/*Product page*/

/*Hero text*/
.callout{
    background-color: #217d9e89;
    background-image: url('../images/bg-lavanda.jpg');
    background-size: 190%;
    color: #DECD9C;
	text-shadow: 0px 4px 4px #000000;
    font-family: "Montserrat", sans-serif;
}
/*Aceites esceniales*/

.aceites{
    font-family: "Montserrat", sans-serif;
    color:#16161D;
    padding: 1px;
    
}

.aceites-ttl{
    text-align: center;
    
}

.product-container-a {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    grid-template-rows: auto auto; /* Two rows, adjust 'auto' as needed */
    gap: 20px; /* Adjust the gap between columns */    margin: 40px 60px;
}

.product-container-a div {
    text-align: center; /* Center the content within each column */
}

.product-container-a img {
    max-height: 200px; /* Adjust the height as needed */
    width: auto; /* Maintain aspect ratio */
    z-index: 2; /* Ensure the image is above the background */
}

.product-container-a img:hover{
    transform: scale(1.15);
}


.image-container {
    position: relative;
    height: 70%;
    width: 90%;
    display: flex;
    flex-direction: column; /* This ensures stacking items vertically */
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.price {
    background-color: rgba(222,205,156,0.3);
    margin-top: 2px; /* Adjust the spacing between image and price */
    z-index: 1;
    color: #16161D;
    font-weight:700;
    padding:10px;
    border-radius: 10px;
    

}

/*difusores*/
.difusores{
    background-color:#1c3334;
    height: 100px;
    background-size: 190%;
    color: #fff;
	text-shadow: 0px 4px 4px #000000;
    font-family: "Montserrat", sans-serif;
    margin: 5px;
}

#difusores-img{
    height: 100px;
}

.link{
    text-decoration: none;
    color: #DECD9C;
}

.cuidado-1{
    color: #16161D;
    font-family: "Montserrat", sans-serif; 
    text-align: center;
    margin: 5px 20px 1px 10px;
    padding-bottom: 10px;
    padding-top: 5px;
}

/*otros productos*/


#pomada-natural, 
#pomada-alivio,
#pasta-dental,
#desodorante,
#desinfectante {
    width: 100px;
    margin-top: 70px;
}

#catalogo-img {
    height: 100px;
}

/*Sobre nosotros*/

.callout-a{
    background-color: #217d9e89;
    background-image: url('../images/bg-romero-bg.jpg');
    background-size: cover;
	
}

.callout-a h1 {
    font-size:larger;
    color:#fafafa;
    text-shadow: 0px 4px 4px #000000;
    font-family: "Montserrat", sans-serif;
    
}

.text-p{
    color: rgba(0, 0, 0, 0.85);
    text-align: center;
    background-color:#d7c181;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    padding: 30px;
    border-radius: 10px;
}

#sobre-nosotros-img {
    width:100%; /* Make the image fill the container */
    height: auto; /* Maintain the aspect ratio */
    border-radius: 10px;

}

#sellos {
    width: 100%; /* Make the image fill the container */
    height: auto; /* Maintain the aspect ratio */
    border-radius: 10px;

}

/*Contactanos*/
#hero-image-contact {

    padding-bottom: 1px;
    border-radius: 10px;
}

.ttle {
    position: relative;
    margin: 30px 20px 25px 20px;
    
    padding: 20px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 4px;
    font-family: "Montserrat", sans-serif;
    color: #16161D; 
    background-color: #DECD9C;/* Set the text color to white */
    border-radius: 10px;
    
}

#form {
    width: 85%;
    margin-left: 30px;
    margin-bottom: 60px; /* Center the form horizontally */
}
#form label {
    color: #000; /* Set the text color of labels to black */
}

#form input,
#form textarea {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em; /* Increase the font size */
    width: 100%;
    max-width: 470px;
    padding: 10px 15px; /* Adjust padding for better appearance */
    background: rgba(255, 255, 255, 0.2); /* Slightly transparent white background */
    outline: none;
    color: #16161D; /* Set text color to black for better contrast */
    border: solid 2px #16161D; /* Set border color to white */
    transition: all 0.3s ease-in-out;
}

#form input:hover,
#form textarea:hover {
    background: rgba(255, 255, 255, 0.3); /* Slightly increase transparency on hover */
}

#submit {
    width: 100%;
    padding: 10px;
    font-size: 1.5em; /* Increase the font size */
    color: #fff;
    outline: none;
    cursor: pointer;
    border: solid 1px #fff;
    border-top: none;
    background: rgba(255, 255, 255, 0.2); /* Slightly transparent white background */
    transition: all 0.3s ease-in-out;
}

#submit:hover {
    background: rgba(255, 255, 255, 0.3); /* Slightly increase transparency on hover */
}

/*Modal*/
/* Custom CSS for modal title background color */
.modal-header {
    background-color: #d7c181;
    color: #06191D; /* Set text color to make it readable on the background */
    font-weight:900;

}

#productModal .modal-body .modal-price {
    font-weight: bold;
    font-size: larger;
}

#productModal .modal-body {
    font-size: 14px; /* Adjust the font size as needed */
    line-height: 1.6; /* Adjust the line height as needed */
    font-weight: 600;
    text-align: justify;
}

#productModal .modal-additional-info {
    margin-top: 10px; /* Adjust the top margin as needed */
}



/* Larger devices (laptops and desktops, 992px and up)*/
@media screen and (min-width: 992px) {

    .nav-titles{
        margin-left: 800px;

    }

    .callout{
        background-size: 110%;  
        text-shadow: 0px 6px 6px #000000;
        
    }

    .fa-whatsapp{
        position:fixed;
        width: 90px;
        height: 75px;
        line-height: 55px;
        bottom: 50px;
        right:50px;
        padding-bottom: 70px;
        background-color: #0df053;
        color:#fff;
        border-radius: 50px;
        text-align: center;
        font-size: 50px;
        box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
        z-index:  100;
    }

    .product-container-a {
        grid-template-columns: repeat(5, 1fr); /* Five equal columns */
        grid-template-rows: auto auto; /* Two rows, adjust 'auto' as needed */
    }
    .product-container-a .image-container {

        height: 70%; 
        width: 70%;
    
    }
    
    .difusores{
            text-align: center;
            font-size: 150%;
        }


        #pomada-natural, 
        #pomada-alivio,
        #pasta-dental,
        #desodorante {
            width: 150px;
        }

        #sobre-nosotros-img {
            max-width: 100%; /* Adjust the width as needed for smaller screens */
            height: auto; /* Maintain the aspect ratio */
        }

        #sellos {
            width: 60%; 
            height: auto; /* Maintain the aspect ratio */
        
        }

        #hero-image-contact {
            background-image: url(../images/bg-lavanda.jpg);
            padding-bottom: 1px;
            border-radius: 10px;
            margin-left: 100px;
            margin-right: 100px;
            margin-bottom: 90px;
        }
        
        .ttle {
            position: relative;
            margin: 30px 0 25px 0;
            padding-top: 20px;
            padding-bottom: 20px;
            text-align: center;
            font-weight: 500;
            letter-spacing: 4px;
            font-family: "Montserrat", sans-serif;
            color: #16161D; /* Set the text color to white */
            background-color: #DECD9C;
            border-radius: 10px 10px 0 0;
        }
        
        #form {
            width: 50%;
            margin: 30px auto; /* Center the form horizontally */
        }
        #form label {
            color: #000; /* Set the text color of labels to black */
        }
        
        #form input,
        #form textarea {
            font-family: 'Montserrat', sans-serif;
            font-size: 1.5em; /* Increase the font size */
            width: 100%;
            max-width: 470px;
            padding: 10px 15px; /* Adjust padding for better appearance */
            background: rgba(255, 255, 255, 0.2); /* Slightly transparent white background */
            outline: none;
            color: #16161D; /* Set text color to black for better contrast */
            border: solid 2px #16161D; /* Set border color to white */
            transition: all 0.3s ease-in-out;
        }
        
        #form input:hover,
        #form textarea:hover {
            background: rgba(255, 255, 255, 0.3); /* Slightly increase transparency on hover */
        }
        
        #submit {
            width: 100%;
            padding: 10px;
            font-size: 1.5em; /* Increase the font size */
            color: #fff;
            outline: none;
            cursor: pointer;
            border: solid 1px #fff;
            border-top: none;
            background: rgba(255, 255, 255, 0.2); /* Slightly transparent white background */
            transition: all 0.3s ease-in-out;
        }
        
        #submit:hover {
            background: rgba(255, 255, 255, 0.3); /* Slightly increase transparency on hover */
        }
        

    #social-networks{
        font-size: 30px;
    }
}