/*font Montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* Asterisk wildcard selectort override default styles added by browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #06191D;
    
}

#logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#sua-logo {
    width: 200px;
    margin: 30px;

}

.a-container{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.pages-btns {
    box-shadow: 3px 4px 0px 0px #805f07;
    background: linear-gradient(to bottom, #d7c181 10%, #DECD9C 90%);
    background-color: #DECD9C;
    border-radius: 5px;
    border: 1px solid #856b26;
    cursor: pointer;
    color: #06191D;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    padding: 3px 15px;
    text-decoration: none;
    text-align: center;
    margin: 15px auto 0;
    
}

.pages-btns:hover {
    transform: scale(1.15); /* Increase the size by 5% */
    background:#b3943a;
}


.quote{
    color:#fff;
    margin: 15px 30px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 80%;

}

.info{
    color: #DECD9C;
    text-align: center;
    font-weight:bold;
    margin: 0 30px;
    font-size: 100%;
    font-family: "Montserrat", sans-serif;
}

#derechos{
    color:#fff;
    text-align: center;
    margin: 0px;
    font-size: x-small;
    font-family: "Montserrat", sans-serif;


}

#social-networks{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    font-size: 150%; 
}

.fa-brands{
    color:#856b26;
    padding: 20px;
}

.fa-brands:hover {
    transform: scale(1.15); /* Increase the size by 5% */
}

/* Navbar */

#logo-sua{
    width: 150px;
    margin: 5px;
}


.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .25);
    border: 0;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

/*Product page*/

/*Hero text*/
.callout{
    background-color: #217d9e89;
    background-image: url('../images/bg-lavanda.jpg');
    color:#fff;
    background-size: 190%;
    color: #DECD9C;
	text-shadow: 0px 4px 4px #000000;
    font-family: "Montserrat", sans-serif;
}
/*Aceites esceniales*/

.aceites{
    font-family: "Montserrat", sans-serif;
    color:#fff ;
    padding: 1px;
    
}

.aceites-ttl{
    text-align: center;
}

#product-container-a {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    grid-template-rows: auto auto; /* Two rows, adjust 'auto' as needed */
    gap: 30px; /* Adjust the gap between columns */
    margin: 60px;
}

#product-container-a div {
    text-align: center; /* Center the content within each column */
}

#product-container-a img {
    max-height: 200px; /* Adjust the height as needed */
    width: auto; /* Maintain aspect ratio */
    z-index: 1; /* Ensure the image is above the background */
}

#product-container-a img:hover{
    transform: scale(1.15);
}

#product-container-a .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(0, 0, 0, .25); /* Grey background color */
    height: 70%; 
    width: 100%;
}

/* Larger devices (laptops and desktops, 992px and up)*/
@media screen and (min-width: 992px) {

    .nav-titles{
        margin-left: 800px;

    }

    .callout{
        background-size: 110%;  
        text-shadow: 0px 6px 6px #000000;
        
    }

    #product-container-a {
        grid-template-columns: repeat(5, 1fr); /* Five equal columns */
        grid-template-rows: auto auto; /* Two rows, adjust 'auto' as needed */
    }
    #product-container-a .image-container {

        height: 70%; 
        width: 70%;

    #social-networks{
        font-size: 30px;
    }
}